In [1]:
# 1. Write a Python program to add an item to a tuple.

t = (1,2,3)

item = 4

t = t +(item,)

t

(1, 2, 3, 4)

In [2]:
#2. Write a Python program to sum all the items in a list.

items = [1, 2, 3, 4, 5]

t1 = sum(items)

print(t1)

15

In [3]:
#3. Write a Python program to multiply all the items in a list.
lst = [1,2,3]

x = 1

for x in lst:
    x *= lst
x

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
#4. Write a Python program to get the smallest number from a list. 

lst = [5,2,41,4]

s = min(lst)

s

2

In [5]:
#5. Write a Python program to get the largest number from a list.

lst = [5,2,41,4]

s = max(lst)

s

41

In [6]:
#6. Write a Python program to count the number of strings from a given list of strings.


strings = ['elon', 'steve', 'tesla', 'newton', 'messi']

count = len(strings)

print(count)

5

In [7]:
#7. Write a Python program to clone or copy a list

lst = [1,2,3,4]

lst1 = []

lst1 = lst.copy()

print(lst1)

[1, 2, 3, 4]

In [8]:
#8. Write a Python program to remove item(s) from a given set.

n = {1, 2, 3, 4, 5}


n.remove(3)

print(n)

{1, 2, 4, 5}

In [9]:
#9. Write a Python program to check if a set is a subset of another set.

n = {1, 2, 3, 4, 5}

n2 = {1, 2, 3}

n2 <= n

True

In [10]:
#10. Write a Python program to remove all elements from a given set.

n = {1,2,3,4,5}

n.clear()

print(n)

set()

In [11]:
#11. Write a Python program to find the maximum and minimum values in a set.

numbers = {4, 2, 9, 7, 5, 1}
max_value = max(numbers)
min_value = min(numbers)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

In [12]:
#12. Write a Python program to find the index of an item in a tuple.

n = (1,2,3,4,5,6)

x = n.index(4)

print(x)

3

In [13]:
#13. Write a Python program to convert a tuple to a dictionary.

n = ("name", "mostafa"), ("age", 21)

d = dict(n)

print(d)

{'name': 'mostafa', 'age': 21}

In [14]:
#14. Write a Python program to unzip a list of tuples into individual lists.

list_of_tuples = [("water", "banana", "soda"), (1, 2, 3), (True, False, True)]

unzipped_list = zip(*list_of_tuples)

list1, list2, list3 = map(list, unzipped_list)


print(list1)
print(list2)
print(list3)

['water', 1, True]
['banana', 2, False]
['soda', 3, True]

In [15]:
#15. Write a Python program to reverse a tuple.

n = (1,2,3)

r = n[::-1]

r

(3, 2, 1)

In [16]:
#16. Write a Python program to convert a list of tuples into a dictionary.

t = ('a',1),('b',2)

d = dict(t)

d

{'a': 1, 'b': 2}

In [17]:
#17. Write a Python program to replace the last value of tuples in a list.
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

print([n[:-1] + (100,) for n in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
#18. Write a Python program to sort a tuple by its float element.